/******************************
Comments
*******************************/

.bypostauthor {

}

#comments label {
    display: block;
}

.commentlist {
    padding-left: 0;
}

.commentlist > .comment {
    padding-bottom: 2em;
    margin-bottom: 0;
}

li.comment,
li.pingback {
    list-style-type: none;
    margin-bottom: 2em;
}

li.comment li.comment:first-child {
    margin-top: 2em;
}

header.comment-meta {
    margin-bottom: 1.5em;
}

.commentlist .avatar {
    display: block;
    margin-right: .5em;
    max-width: 20%;
    float: left;
}

.commentlist .comment-meta .fn {
    display: block;
}

.reply {
    margin-top: -1.5em;
}

.children {
    padding-left: .6em;
}
