/******************************
Footer
*******************************/

#footer {
    clear: both;
    padding: 0 16px;
}

#footer .widget-title {
    padding: 0;
}

#footer .theme-author {
    text-align: center;
    padding-top: 1.5em;
}
