/******************************
Portfolio template
*******************************/

.page-template-portfolio-page article {
    float: left;
}

.page-template-portfolio-page main article a {
    display: block;
    margin: .2em;
    position: relative;
}
